/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
body {
  margin: 0;
  padding: 0;
}

/* line 4, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
nav {
  height: 64px;
  background-color: #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
