/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/aspects/aspects.sass */
.aspects {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 300px;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg.sass */
.bg {
  z-index: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg_about.sass */
.bg_about {
  background-image: url(/assets/bgs/about-a054b9af805a399ed632793ef8232776970eba06b39db2ea25eea5c785c38b80.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg_contacts.sass */
.bg_contacts {
  background-image: url(/assets/bgs/contacts-2f07c4ce71cfc7cede1fc834ee46c14964089aeb9ea2d09c314462faaa0a9b26.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg_hello.sass */
.bg_hello {
  background-image: url(/assets/bgs/iceberg-d1400196f6877a0549a460d4e6bc7caad81d5d5f6294949c4afebaaf3ba94f88.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 5vw;
  box-sizing: border-box;
}

@media (max-width: 360px) {
  /* line 11, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg_hello.sass */
  .bg_hello {
    padding-right: 0;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg_links.sass */
.bg_links {
  background-image: url(/assets/bgs/links-3a048a371bad7c0366221b91a86aade72aa96a360619102a8c4cf9a229c71cee.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg_projects.sass */
.bg_projects {
  background-image: url(/assets/bgs/projects-f57922f7d62cbece7e2113bb3b644269275c458df9b018c092f51b4f8200b81a.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg_skills.sass */
.bg_skills {
  background-image: url(/assets/bgs/skills-d8aced8a885f6ae015f12dd1828543ffc509c0e735861ee79a55ec0eb4e18ac5.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/body/body.sass */
.body {
  margin: 0;
  padding: 0;
  background-color: #012536;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/divider/divider.sass */
.divider {
  width: 100%;
  height: 10vh;
  background-color: #000230;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/divider/divider__title/divider__title.sass */
.divider__title {
  margin: 0;
  padding: 0;
  color: #a3c5ff;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 5px;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/hello-heading/hello-heading.sass */
.hello-heading {
  font-size: 2.5rem;
  color: #edfcff;
  text-shadow: 1px 1px 2px black;
}

@media (max-width: 330px) {
  /* line 6, /home/saff/projects/saffa/app/assets/stylesheets/application/hello-heading/hello-heading.sass */
  .hello-heading {
    font-size: 2rem;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switcher/language-switcher.sass */
.language-switcher {
  z-index: 1;
  position: fixed;
  left: 20px;
  top: 20px;
}
/* line 7, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switcher/language-switcher.sass */
.language-switcher:hover .language-switcher__content {
  display: block;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switcher/language-switcher__content/language-switcher__content.sass */
.language-switcher__content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 8, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switcher/language-switcher__content/language-switcher__content.sass */
.language-switcher__content a {
  text-decoration: none;
  padding: 2px 5px;
  display: block;
}
/* line 13, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switcher/language-switcher__content/language-switcher__content.sass */
.language-switcher__content a:hover {
  background-color: #f1f1f1;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switcher/language-switcher__icon/language-switcher__icon.sass */
.language-switcher__icon {
  width: 40px;
  height: 40px;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list.sass */
.nav-list {
  list-style: none;
  text-align: right;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list__item/nav-list__item.sass */
.nav-list__item {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.3rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list__link/nav-list__link.sass */
.nav-list__link {
  text-decoration: none;
  color: #edfcff;
  text-shadow: 1px 1px 2px black;
}
/* line 5, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list__link/nav-list__link.sass */
.nav-list__link:hover {
  color: #034670;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav/nav.sass */
.nav {
  position: fixed;
  right: 4vw;
  top: 2vh;
  z-index: 1;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/tip-text/tip-text.sass */
.tip-text {
  color: #edfcff;
  text-shadow: 1px 1px 2px black;
}

/* line 5, /home/saff/projects/saffa/app/assets/stylesheets/application.sass */
html {
  font-size: 20px;
}
