/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/aspects/aspects.sass */
.aspects {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 300px;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/body/body.sass */
.body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #012536;
  background-image: url(/assets/bgs/iceberg-d147ad328b71d5e99710b3aa5d53219c5d9c65cec5ea03b6dd155328f70c4dbf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switcher/language-switcher.sass */
.language-switcher {
  position: fixed;
  left: 20px;
  top: 20px;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switcher/language-switcher__icon/language-switcher__icon.sass */
.language-switcher__icon {
  width: 30px;
  height: 30px;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list.sass */
.nav-list {
  list-style: none;
  text-align: right;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list__item/nav-list__item.sass */
.nav-list__item {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.3rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list__link/nav-list__link.sass */
.nav-list__link {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px black;
}
/* line 6, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list__link/nav-list__link.sass */
.nav-list__link:hover {
  color: #034670;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav/nav.sass */
.nav {
  position: fixed;
  right: 4vw;
  top: 2vh;
}

/* line 4, /home/saff/projects/saffa/app/assets/stylesheets/application.sass */
html {
  font-size: 20px;
}
