/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg.sass */
.bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/body/body.sass */
.body {
  margin: 0;
  padding: 0;
  background-color: #012536;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/divider/divider_about-me.sass */
.divider_about-me {
  width: 5vw;
}

@media (max-width: 700px) {
  /* line 5, /home/saff/projects/saffa/app/assets/stylesheets/application/divider/divider_about-me.sass */
  .divider_about-me {
    width: 100vw;
    height: 5vh;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading.sass */
.heading {
  font-size: 2.5rem;
}

@media (max-width: 330px) {
  /* line 2, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_hello.sass */
  .heading_hello {
    font-size: 2rem;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_secondary.sass */
.heading_secondary {
  font-size: 1.5rem;
}

@media (max-width: 330px) {
  /* line 5, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_secondary.sass */
  .heading_secondary {
    font-size: 1.2rem;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_skills.sass */
.heading_skills {
  margin: 0;
}

@media (max-width: 2565px) {
  /* line 5, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_skills.sass */
  .heading_skills {
    font-size: 6rem;
  }
}
@media (max-width: 1445px) {
  /* line 9, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_skills.sass */
  .heading_skills {
    font-size: 5rem;
  }
}
@media (max-width: 1025px) {
  /* line 13, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_skills.sass */
  .heading_skills {
    font-size: 4rem;
  }
}
@media (max-width: 770px) {
  /* line 17, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_skills.sass */
  .heading_skills {
    font-size: 3rem;
  }
}
@media (max-width: 430px) {
  /* line 21, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_skills.sass */
  .heading_skills {
    font-size: 2.2rem;
  }
}
@media (max-width: 380px) {
  /* line 25, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_skills.sass */
  .heading_skills {
    font-size: 2.1rem;
  }
}
@media (max-width: 330px) {
  /* line 29, /home/saff/projects/saffa/app/assets/stylesheets/application/heading/heading_skills.sass */
  .heading_skills {
    font-size: 2rem;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/hello-section/hello-section.sass */
.hello-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/image/image.sass */
.image {
  border: 1px solid black;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/image/image_about-me-inbox.sass */
.image_about-me-inbox {
  display: none;
  width: 20vw;
  height: auto;
}

@media (max-width: 766px) {
  /* line 7, /home/saff/projects/saffa/app/assets/stylesheets/application/image/image_about-me-inbox.sass */
  .image_about-me-inbox {
    display: inline;
    width: 20vw;
    float: left;
    margin: 3px;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/image/image_about-me.sass */
.image_about-me {
  width: 20vw;
  margin-left: 5vw;
  height: auto;
}

@media (max-width: 766px) {
  /* line 7, /home/saff/projects/saffa/app/assets/stylesheets/application/image/image_about-me.sass */
  .image_about-me {
    display: none;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/label-switch/label-switch.sass */
.label-switch {
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #004960;
  text-align: center;
}

@media (max-width: 360px) {
  /* line 10, /home/saff/projects/saffa/app/assets/stylesheets/application/label-switch/label-switch.sass */
  .label-switch {
    width: 14.2857vw;
    padding: 0;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/label-switch/label-switch__icon/label-switch__icon.sass */
.label-switch__icon {
  z-index: 1;
}
/* line 4, /home/saff/projects/saffa/app/assets/stylesheets/application/label-switch/label-switch__icon/label-switch__icon.sass */
.label-switch__icon:hover {
  filter: brightness(0.8);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switch/language-switch.sass */
.language-switch {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
/* line 9, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switch/language-switch.sass */
.language-switch:hover .language-switch__content {
  display: block;
}

@media (max-width: 450px) {
  /* line 13, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switch/language-switch.sass */
  .language-switch {
    top: 2px;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switch/language-switch__content/language-switch__content.sass */
.language-switch__content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 8, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switch/language-switch__content/language-switch__content.sass */
.language-switch__content a {
  text-decoration: none;
  padding: 2px 5px;
  display: block;
}
/* line 13, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switch/language-switch__content/language-switch__content.sass */
.language-switch__content a:hover {
  background-color: #f1f1f1;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/light-text/light-text.sass */
.light-text {
  color: #edfcff;
  text-shadow: 3px 1px 2px black;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-link/nav-link.sass */
.nav-link {
  text-decoration: none;
  color: #edfcff;
  text-shadow: 3px 1px 2px black;
}
/* line 5, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-link/nav-link.sass */
.nav-link:hover {
  color: #034670;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/radiobox-switch/radiobox-switch.sass */
.radiobox-switch {
  display: none;
}

/* line 4, /home/saff/projects/saffa/app/assets/stylesheets/application/radiobox-switch/radiobox-switch.sass */
.radiobox-switch:checked + label {
  background-color: #05a4d6;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/radiobox-switch/radiobox-switch_about-me.sass */
.radiobox-switch_about-me:checked ~ .bg_about-me {
  display: block;
  background-image: url(/assets/bgs/about-a054b9af805a399ed632793ef8232776970eba06b39db2ea25eea5c785c38b80.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/radiobox-switch/radiobox-switch_contacts.sass */
.radiobox-switch_contacts:checked ~ .bg_contacts {
  display: block;
  background-image: url(/assets/bgs/contacts-2f07c4ce71cfc7cede1fc834ee46c14964089aeb9ea2d09c314462faaa0a9b26.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/radiobox-switch/radiobox-switch_hello.sass */
.radiobox-switch_hello:checked ~ .bg_hello {
  display: block;
  background-image: url(/assets/bgs/iceberg-d1400196f6877a0549a460d4e6bc7caad81d5d5f6294949c4afebaaf3ba94f88.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/radiobox-switch/radiobox-switch_links.sass */
.radiobox-switch_links:checked ~ .bg_links {
  display: block;
  background-image: url(/assets/bgs/links-3a048a371bad7c0366221b91a86aade72aa96a360619102a8c4cf9a229c71cee.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/radiobox-switch/radiobox-switch_projects.sass */
.radiobox-switch_projects:checked ~ .bg_projects {
  display: block;
  background-image: url(/assets/bgs/projects-f57922f7d62cbece7e2113bb3b644269275c458df9b018c092f51b4f8200b81a.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/radiobox-switch/radiobox-switch_skills.sass */
.radiobox-switch_skills:checked ~ .bg_skills {
  display: block;
  background-image: url(/assets/bgs/skills-d8aced8a885f6ae015f12dd1828543ffc509c0e735861ee79a55ec0eb4e18ac5.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill.sass */
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2vw;
  margin: 3vh 2vw;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
/* line 11, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill.sass */
.skill:hover {
  transform: translateY(-10px);
}

@media (max-width: 2565px) {
  /* line 15, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill.sass */
  .skill {
    margin: 2vh 1vw;
    width: 6vw;
    height: 6vw;
  }
}
@media (max-width: 1445px) {
  /* line 21, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill.sass */
  .skill {
    margin: 2vh 1vw;
    width: 6vw;
    height: 6vw;
  }
}
@media (max-width: 1025px) {
  /* line 27, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill.sass */
  .skill {
    margin: 2vh 2vw;
    width: 9vw;
    height: 9vw;
  }
}
@media (max-width: 770px) {
  /* line 33, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill.sass */
  .skill {
    width: 9vw;
    height: 9vw;
  }
}
@media (max-width: 430px) {
  /* line 38, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill.sass */
  .skill {
    width: 12vw;
    height: 12vw;
  }
}
@media (max-width: 380px) {
  /* line 43, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill.sass */
  .skill {
    width: 12vw;
    height: 12vw;
  }
}
@media (max-width: 325px) {
  /* line 48, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill.sass */
  .skill {
    width: 12vw;
    height: 12vw;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill__image/skill__image.sass */
.skill__image {
  width: auto;
  height: inherit;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill__level/skill__level.sass */
.skill__level {
  text-align: center;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill__name/skill__name.sass */
.skill__name {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill__progress/skill__progress.sass */
.skill__progress {
  width: 10vw;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill_backend.sass */
.skill_backend {
  background-color: #bbff9a;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill_frontend.sass */
.skill_frontend {
  background-color: #fff298;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill_git.sass */
.skill_git {
  background-color: #ffcbcb;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/skill/skill_language.sass */
.skill_language {
  background-color: #a49fff;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/skills/skills.sass */
.skills {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(217, 217, 217, 0.4);
  padding: 1vw;
  justify-content: center;
  align-content: center;
  width: 80vw;
  height: 80vw;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/text-block/text-block.sass */
.text-block {
  background-color: rgba(13, 21, 61, 0.5);
  color: #edfcff;
  text-shadow: 3px 1px 2px black;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/text-block/text-block_about-me.sass */
.text-block {
  width: 50vw;
  padding: 2vh 5vw;
  margin-right: 5vw;
}

@media (max-width: 900px) {
  /* line 7, /home/saff/projects/saffa/app/assets/stylesheets/application/text-block/text-block_about-me.sass */
  .text-block {
    width: 90vw;
    padding: 3px;
    font-size: 14px;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/tip-text/tip-text.sass */
.tip-text {
  color: #edfcff;
  text-shadow: 3px 1px 2px black;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/wrapper/wrapper_about-me.sass */
.wrapper_about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding-bottom: 10vh;
}

@media (max-width: 700px) {
  /* line 10, /home/saff/projects/saffa/app/assets/stylesheets/application/wrapper/wrapper_about-me.sass */
  .wrapper_about-me {
    flex-direction: column;
    padding-bottom: 0;
  }
}
/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/wrapper/wrapper_skills.sass */
.wrapper_skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  flex-direction: column;
}

@media (max-width: 700px) {
  /* line 12, /home/saff/projects/saffa/app/assets/stylesheets/application/wrapper/wrapper_skills.sass */
  .wrapper_skills {
    flex-direction: column;
    padding-bottom: 0;
  }
}
/* line 5, /home/saff/projects/saffa/app/assets/stylesheets/application.sass */
html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
