/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/aspects/aspects.sass */
.aspects {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 300px;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg.sass */
.bg {
  position: absolute;
  z-index: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg__hello/bg__hello.sass */
.bg__hello {
  top: 0;
  background-image: url(/assets/bgs/iceberg-d147ad328b71d5e99710b3aa5d53219c5d9c65cec5ea03b6dd155328f70c4dbf.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/bg/bg__skills/bg__skills.sass */
.bg__skills {
  top: 110vh;
  background-image: url(/assets/bgs/skills-c1e6a30273b85f7019895aa09129a86822f69bca95915bdd859a88f867b8998f.jpg);
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/body/body.sass */
.body {
  margin: 0;
  padding: 0;
  background-color: #012536;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/divider/divider.sass */
.divider {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #000230;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/divider/divider_about.sass */
.divider_about {
  top: 100vh;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switcher/language-switcher.sass */
.language-switcher {
  position: fixed;
  left: 20px;
  top: 20px;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/language-switcher/language-switcher__icon/language-switcher__icon.sass */
.language-switcher__icon {
  width: 30px;
  height: 30px;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list.sass */
.nav-list {
  list-style: none;
  text-align: right;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list__item/nav-list__item.sass */
.nav-list__item {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.3rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list__link/nav-list__link.sass */
.nav-list__link {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px black;
}
/* line 6, /home/saff/projects/saffa/app/assets/stylesheets/application/nav-list/nav-list__link/nav-list__link.sass */
.nav-list__link:hover {
  color: #034670;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/application/nav/nav.sass */
.nav {
  position: fixed;
  right: 4vw;
  top: 2vh;
  z-index: 1;
}

/* line 4, /home/saff/projects/saffa/app/assets/stylesheets/application.sass */
html {
  font-size: 20px;
}
