/* line 10, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
body {
  margin: 0;
  padding: 0;
  background-color: #F5E9E2;
}

/* line 17, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
nav {
  height: 64px;
  background-color: #0D1321;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-transform: uppercase;
}
/* line 26, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
nav a {
  color: white;
  text-decoration: none;
}
/* line 30, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
nav a:active, nav a:visited {
  color: white;
  text-decoration: none;
}
/* line 35, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
nav a:hover {
  color: #255C99;
}

/* line 38, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.logo {
  margin-left: 30px;
  margin-right: 10px;
}

/* line 42, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.header-left-side, .search-form {
  display: flex;
  align-items: center;
}

/* line 46, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.search-form {
  margin-right: 10px;
}

/* line 49, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.search-icon {
  cursor: pointer;
}

/* line 52, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.display-switcher {
  display: none;
}

/* line 55, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
#search-field {
  opacity: 0;
  width: 0;
  transition-property: opacity, width;
  transition-duration: 0.5s;
}

/* line 61, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
#search-radio-switcher:checked ~ #search-field {
  opacity: 1;
  width: 200px;
}

/* line 65, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.sign-link {
  margin-right: 20px;
}

/* line 68, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.header-icon {
  margin-right: 20px;
  cursor: pointer;
}

/* line 72, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.dropdown-menu {
  margin: 0;
  padding: 0;
  border: 1px solid white;
  position: absolute;
  top: 100000000px;
  right: 100000000px;
}
/* line 80, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.dropdown-menu li {
  text-align: center;
  margin: 0;
  list-style: none;
  background-color: #0D1321;
  color: white;
  padding: 20px;
}
/* line 88, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.dropdown-menu li:first-of-type {
  border-bottom: 1px solid white;
}

/* line 91, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
#dropdown-menu-switcher:checked ~ .dropdown-menu {
  top: 50px;
  right: 30px;
}

/* line 97, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.wrapper {
  width: 400px;
  margin: 0 auto;
}

/* line 101, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
form.new_user {
  display: flex;
  flex-direction: column;
}

/* line 105, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
#user_name,
input[type="email"],
input[type="password"] {
  padding: 10px;
  background-color: white;
  font-size: 20px;
  min-height: 30px;
  margin-bottom: 10px;
  border: none;
}

/* line 115, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
input[type="submit"] {
  margin-top: 30px;
  font-size: 30px;
  border: none;
  color: white;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #255C99;
}

/* line 127, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.centered {
  text-align: center;
}

/* line 130, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #B3001B;
}
