/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/body/body.sass */
.body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "OpenSans", sans-serif;
  background-color: #F5E9E2;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/delete-icon/delete-icon.sass */
.delete-icon {
  transform: translateX(20px);
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/dropdown-menu/dropdown-menu.sass */
.dropdown-menu {
  margin: 0;
  padding: 0;
  border: 1px solid white;
  position: absolute;
  top: 100000000px;
  right: 100000000px;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/dropdown-menu/dropdown-menu__item/dropdown-menu__item.sass */
.dropdown-menu__item {
  text-align: center;
  margin: 0;
  list-style: none;
  background-color: #0D1321;
  color: white;
  padding: 20px;
}

/* line 9, /home/andrew/projects/saffa/app/assets/stylesheets/blog/dropdown-menu/dropdown-menu__item/dropdown-menu__item.sass */
.dropdown-menu__item:first-of-type {
  border-bottom: 1px solid white;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/edit-icon/edit-icon.sass */
.edit-icon {
  display: absolute;
}

@font-face {
  font-family: "Lora";
  src: url(/assets/Lora-Regular-cb9fb5bba33081358660d16333b755ce74ddc2c34d03b7b4de41d561b3507d47.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(/assets/OpenSans-Regular-e64e508b2aa2880f907e470c4550980ec4c0694d103a43f36150ac3f93189bee.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 3, /home/andrew/projects/saffa/app/assets/stylesheets/blog/global-modifiers.sass */
.w10px {
  width: 10px;
}

/* line 6, /home/andrew/projects/saffa/app/assets/stylesheets/blog/global-modifiers.sass */
.pointered {
  cursor: pointer;
}

/* line 9, /home/andrew/projects/saffa/app/assets/stylesheets/blog/global-modifiers.sass */
.hidden {
  display: none;
}

/* line 12, /home/andrew/projects/saffa/app/assets/stylesheets/blog/global-modifiers.sass */
.centered {
  text-align: center;
}

/* line 15, /home/andrew/projects/saffa/app/assets/stylesheets/blog/global-modifiers.sass */
.absoluted {
  position: absolute;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/header-link/header-link.sass */
.header-link {
  color: white;
  text-decoration: none;
}
/* line 5, /home/andrew/projects/saffa/app/assets/stylesheets/blog/header-link/header-link.sass */
.header-link:active, .header-link:visited {
  color: white;
  text-decoration: none;
}
/* line 10, /home/andrew/projects/saffa/app/assets/stylesheets/blog/header-link/header-link.sass */
.header-link:hover {
  color: #255C99;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/header-link/header-link_margined.sass */
.header-link_margined {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/header/header.sass */
.header {
  height: 64px;
  background-color: #0D1321;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/header/header__left-side.sass */
.header__left-side {
  display: flex;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/header/header__right-side.sass */
.header_right-side {
  display: flex;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/header/header__right-side_uppercase.sass */
.header_right-side_uppercase {
  text-transform: uppercase;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/header/header_shadowed.sass */
.header_shadowed {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/navigation/navigation.sass */
.navigation {
  display: flex;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/post-title/post-title.sass */
.post-title {
  font-size: 40px;
  color: #B3001B;
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/post/post.sass */
.post {
  margin: 30px 0 30px 0;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/search-form/__search-input/search-input.sass */
.search-input {
  opacity: 0;
  width: 0;
  transition-property: opacity, width;
  transition-duration: 0.5s;
}

/* line 1, /home/andrew/projects/saffa/app/assets/stylesheets/blog/search-form/search-form.sass */
.search-form {
  display: flex;
  align-items: center;
}

/* line 5, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
#search-radio-switcher:checked ~ #search-field {
  opacity: 1;
  width: 200px;
}

/* line 9, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
#dropdown-menu-switcher:checked ~ .dropdown-menu {
  top: 50px;
  right: 30px;
}

/* line 15, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.wrapper {
  width: 400px;
  margin: 0 auto;
}

/* line 19, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
form.new_user {
  display: flex;
  flex-direction: column;
}

/* line 23, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
#user_name,
input[type="email"],
input[type="password"] {
  padding: 10px;
  background-color: white;
  font-size: 20px;
  min-height: 30px;
  margin-bottom: 10px;
  border: none;
}

/* line 33, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
input[type="submit"] {
  margin-top: 30px;
  font-size: 30px;
  border: none;
  color: white;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #255C99;
}

/* line 45, /home/andrew/projects/saffa/app/assets/stylesheets/application.sass */
.posts-wrapper {
  width: 70%;
  margin: 0 auto;
}
