/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/links/links/links.sass */
.links {
  display: inline-flex;
  width: 100vw;
  flex-wrap: wrap;
  font-family: sans-serif;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/links/links/links__column/links__column.sass */
.links__column {
  min-width: 18rem;
  width: 31.33333vw;
  max-width: 50vw;
  padding: 1vw;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/links/links/links__column/links__column_back.sass */
.links__column_back {
  background-color: #65a7ff;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/links/links/links__column/links__column_db.sass */
.links__column_db {
  background-color: #7fff6f;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/links/links/links__column/links__column_front.sass */
.links__column_front {
  background-color: #ffd990;
}

/* line 1, /home/saff/projects/saffa/app/assets/stylesheets/links/links/links__title/links__title.sass */
.links__title {
  margin: 0;
  padding: 0;
}

/* line 9, /home/saff/projects/saffa/app/assets/stylesheets/links.sass */
html {
  font-size: 20px;
}

/* line 12, /home/saff/projects/saffa/app/assets/stylesheets/links.sass */
body {
  margin: 0;
  padding: 0;
  background-color: #e8f0ff;
}
