html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px grey solid;
  border-radius: 1%;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 1rem;
  margin: 1rem;
}

.table {
  border-collapse: collapse;
  border: 1px solid #dbdbdb;
  font-size: 1.5rem;
}
.table td {
  padding: 0.5rem;
}

.image {
  width: 128px;
  height: 128px;
  border: 1px grey solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

.icon {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

ul {
  margin: 0;
  padding-left: 2rem;
}

.hor_row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: column;
}

.project_image {
  height: 128px;
  width: 128px;
}

.project_name {
  font-size: 1.6rem;
  max-width: 128px;
  text-align: center;
}

a {
  color: rgb(14, 0, 48);
}
  
a:link, a:visited, a:focus, a:active {
  text-decoration: none;
}
  
a:hover {
  color: rgb(0, 0, 238);
  text-decoration: underline;
}

.projects_title {
  text-align: center;
}