html {
  font-size: 62.5%;
  font-family: sans-serif;
  background: url('../components/svgs/pattern.svg') no-repeat center center fixed;
  background-size: cover;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.photo {
  width: 25.6rem;
  height: 25.6rem;
  border: 0.1rem grey solid;
  border-radius: 50%;
  margin: 1rem;
}

.icon {
  height: 6.4rem;
  width: 6.4rem;
  margin: 0.5rem;
}

.icon:hover {
  filter: brightness(150%);
}

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 32rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 3;
}

.projects__list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.projects__title {
  font-size: 2.5rem;
  color: rgb(48, 0, 94);
}

.project__image {
  height: 12.8rem;
  width: 12.8rem;
}

.project__image:hover {
  filter: brightness(120%);
}

@media (max-width: 768px) {
  .App {
    flex-wrap: wrap;
  }
}

.icon:hover, .project__image:hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: pulse;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
