.wrapper_skills
  display: flex
  justify-content: space-around
  align-items: center
  height: 90vh
  width: 100vw
  padding-top: 10vh
  padding-bottom: 10vh
  flex-wrap: wrap

@media (max-width: 700px)
  .wrapper_skills
    flex-direction: column
    padding-bottom: 0
