// I kniw this is not BEM-style but I'd rather collect such kinds of modifiers in one file
html
  font-size: 20px

.w10px
  width: 10px

.w2vw
  width: 2vw

.pointered
  cursor: pointer

.hidden
  display: none

.centered
  text-align: center

.absoluted
  position: absolute

.relatived
  position: relative

.inline
  display: inline

.inline-block
  display: inline-block

.padded-5px
  padding: 5px
