@import 'font-awesome-sprockets'
@import 'font-awesome'

$text-color: white
$science-color: #009688
$literature-color: #1B5E20
$skills-color: #1A237E
$about-color: #212121
$projects-color: #AB47BC
$photos-color: #EF6C00
$contacts-color: #B71C1C

.science
  background-color: $science-color

.literature
  background-color: $literature-color

.skills
  background-color: $skills-color

.about
  background-color: $about-color

.projects
  background-color: $projects-color

.photos
  background-color: $photos-color

.contacts
  background-color: $contacts-color

body
  margin: 0
  padding: 0
  color: $text-color
  font-size: 30px
  background-color: black
  font-family: 'PT Sans', sans-serif

ul.navigation
  margin: 0
  padding: 0
  list-style: none
  color: white
  display: flex
  text-align: center
  height: 10vh
  max-height: 60px

  li
    cursor: pointer
    width: 15%
    margin-left: auto
    margin-right: auto
    line-height: 95px

    &:hover
      filter: brightness(120%)

.tab
  padding-top: 10px
  padding-left: 20px
  padding-right: 20px
  min-height: 90vh

.text-wrapper
  text-align: justify
  margin-left: auto
  margin-right: auto
  max-width: 700px

h2
  font-size: 48px
  letter-spacing: 7px
  text-align: center
  padding: 0
  margin: 0
  text-transform: uppercase
