@import 'font-awesome-sprockets'
@import 'font-awesome'

$text-color: white
$science-color: #009688
$literature-color: #1B5E20
$skills-color: #1A237E
$about-color: #212121
$photos-color: #EF6C00

body
  margin: 0
  padding: 0
  color: $text-color
  font-size: 18px
  background-color: black
  font-family: 'PT Sans', sans-serif

ul.navigation
  margin: 0
  padding: 0
  list-style: none
  color: white
  display: flex
  text-align: center
  height: 10vh
  max-height: 60px

  li
    cursor: pointer
    width: 15%
    margin-left: auto
    margin-right: auto

    &#science
      background-color: $science-color

    &#literature
      background-color: $literature-color

    &#skills
      background-color: $skills-color

    &#about
      background-color: $about-color
      line-height: 100px

    &#projects
      background-color: #631262

    &#photos
      background-color: $photos-color

    &#contacts
      background-color: #7A0000

  li:hover
    filter: brightness(120%)

.science,
.literature,
.skills,
.about
  padding-left: 20px
  padding-right: 20px
  height: 90vh

.science
  background-color: $science-color

.literature
  background-color: $literature-color

.skills
  background-color: $skills-color

.about
  background-color: $about-color

h2
  font-size: 48px
  letter-spacing: 3px
  text-align: center
  margin: 0
  padding: 0
  text-transform: uppercase
